.body-container {
  display:block;
  margin-left:-250px;
  transition: margin 0.4s ease 0s;
  height: 100%;
  padding: 57px 0 0 0;
  box-sizing: border-box;
  &.sidebar-open{
    margin-left: 0;
    margin-right: -240px;
  }

}

@media all and (min-width: $bp-sm-min) {
  .body-container {
    margin-left: 0;
    margin-right: 0;
    &.sidebar-open{
      margin-left: 0;
      margin-right: 0;
    }
  }
}